<pre>
  Задание 7\* (усложненное)
  Вернуть страницу к начальному состоянию, как по ссылке.
  Задача учитывать только последнее значение, если кнопку не нажимали в течение двух секунд.
  
  Пример.
  Форма загрузилась.
  Мы быстро нажимаем без пауз на кнопку 2 пять раз. Ждем 2 секунды, появляется в логе значение 5.
  Опять быстро жмем три раза. через 2 секунды появляется значение 8.
</pre>


<button (click)="button1Click()">Button 1</button>
&nbsp;
<button (click)="button2Click()">Button 2</button>

<div>
  <div *ngFor="let val of this.log">{{ val }}</div>
</div>