<br><br><br>

<a [routerLink]="['/ex2stWeekRxJS/ex1']" routerLinkActive="active">ex1</a>
<a [routerLink]="['/ex2stWeekRxJS/ex2']" routerLinkActive="active">ex2</a>
<a [routerLink]="['/ex2stWeekRxJS/ex3']" routerLinkActive="active">ex3</a>
<a [routerLink]="['/ex2stWeekRxJS/ex4']" routerLinkActive="active">ex4</a>
<a [routerLink]="['/ex2stWeekRxJS/ex5']" routerLinkActive="active">ex5</a>
<a [routerLink]="['/ex2stWeekRxJS/ex6']" routerLinkActive="active">ex6</a>
<a [routerLink]="['/ex2stWeekRxJS/ex7']" routerLinkActive="active">ex7</a>

<br><br><br>

<router-outlet></router-outlet>
