<pre>
  Задание 5.
  https://www.learnrxjs.io/learn-rxjs/operators/filtering
  Среди этих операторов найти подходящие для выполнения этого и следующих заданий

  Вернуть страницу к начальному состоянию, как по ссылке.
  Также работаем тоьлко со второй кнопкой.
  Написать цепочку, которая выводит счетчик, умноженный на 10, но выводит только значения с 3-го по пятое.
  Итого, жмем первый раз - ничего не происходит, второй - ничего, третий - выводится 30, потом 40, 50, потом ничего.
</pre>


<button (click)="button1Click()">Button 1</button>
&nbsp;
<button (click)="button2Click()">Button 2 ?????</button>

<div>
  <div *ngFor="let val of this.log">{{ val }}</div>
</div>