<pre>
  Задание 3.
  Исходное состояние (как по ссылке).
  С помощь двух последовательных операторов map подумать, как сделать след задание:
  Нужно в первом операторе map умножить счетчик на 10, во втором, прибавить значение самого счетчика, то есть:
  
  ```
  this.button2Click$.pipe(
    map([прибавить 10]),
    map([прибавить само значение счетчика])
  ).subscribe((value) => this.log.push(value.toString()));
  ```

  Итого вывод:
  0 // 0 _ 10 + 0
  11 // 1 _ 10 + 1
  22 // 2 \* 10 + 2
  33
  44
  .. // до бесконечности
</pre>


<button (click)="button1Click()">Button 1</button>
&nbsp;
<button (click)="button2Click()">Button 2</button>

<div>
  <div *ngFor="let val of this.log">{{ val }}</div>
</div>